.section__padding_findus {
    padding: 1rem 6rem;
}
.app__findus {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 40vh;

    background-color: var(--color-black);
}

.app__findus_tittle {
    font-size: 60px;
    font-family: var(--font-base);
    padding-top: 6rem;
    text-align: center;
    background-color: var(--color-black);
    color: var(--color-golden);
}
.app__findus_locationText {
    color: var(--color-golden);
    background-color: var(--color-black);
    text-align: center;
}

.app__findus_location {
    color: var(--color-golden);
    text-align: center;
    font-size: 25px;
}

@media screen and (max-width: 1150px) {
    .app__findus_tittle {
        padding-top: 4rem;
        font-size: 45px;
    }
    .app__findus_locationText {
        font-size: 28px;
    }
    .app__findus_location {
        font-size: 23px;
    }
}
@media screen and (max-width: 650px) {
    .app__findus_tittle {
        padding-top: 2rem;
        font-size: 28px;
    }
    .app__findus_locationText {
        font-size: 15px;
    }
    .app__findus_location {
        font-size: 14px;
    }
}
@media screen and (max-width: 450px) {
    .app__findus_tittle {
        padding-top: 1rem;
        font-size: 15px;
    }
    .app__findus_locationText {
        font-size: 7px;
    }
    .app__findus_location {
        font-size: 6px;
    }
    .section__padding_findus {
        padding: 1rem 3rem;
    }
}